{{outlet}}

<table class="table">
  <thead>
    <th>id</th>
    <th>name</th>
    <th>email</th>
    <th></th>
  </thead>
  <tbody>
    {{#each model as |customer|}}

    <tr>
      <td>{{customer.id}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.email}}</td>
      <td>
        {{#link-to 'customer.premises' customer class="btn btn-primary"}}
          View premises
        {{/link-to}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
